openlyrics.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.openlyrics.info/2009/song/namespace">

<!-- TODO revisit content of which elements/attributes is required -->

  <!-- TOP LEVEL -->


  <start>
    <element name="song">
      <ref name="songAttributes"/>
      <ref name="properties"/>
      <ref name="lyrics"/>
    </element>
  </start>


  <define name="properties">
    <element name="properties">
      <interleave> <!-- allow occur in any order -->
        <!-- at least one title is always required -->
        <ref name="titles"/>
      <!-- other properties items are optional -->
        <optional>
          <ref name="authors"/>
        </optional>
        <optional>
          <ref name="copyright"/>
        </optional>
        <optional>
          <ref name="ccliNo"/>
        </optional>
        <optional>
          <ref name="releaseDate"/>
        </optional>
      <!-- MusicInfo -->
        <optional>
          <ref name="transposition"/>
        </optional>
        <optional>
          <ref name="tempo"/>
        </optional>
        <optional>
          <ref name="key"/>
        </optional>
      <!-- OtherInfo -->
        <optional>
          <ref name="variant"/>
        </optional>
        <optional>
          <ref name="publisher"/>
        </optional>
        <optional>
          <ref name="customVersion"/>
        </optional>
        <optional>
          <ref name="keywords"/>
        </optional>
        <optional>
          <ref name="verseOrder"/>
        </optional>
        <optional>
          <ref name="collection"/>
        </optional>
        <optional>
          <ref name="trackNo"/>
        </optional>
        <optional>
          <ref name="themes"/>
        </optional>
        <optional>
          <ref name="comments"/>
        </optional>
        <optional>
          <ref name="customData"/>
        </optional>
      </interleave>
    </element>
  </define>


  <define name="lyrics">
    <element name="lyrics">
      <!-- at least one verse is required -->
      <oneOrMore>
        <ref name="verse"/>
      </oneOrMore>
    </element>
  </define>


  <!-- PROPERTIES -->


  <define name="titles">
    <element name="titles">
      <oneOrMore>
        <element name="title">
          <text/>
          <optional>
            <ref name="langAttribute"/>
          </optional>
          <optional>
            <attribute name="original">
              <data type="boolean"/>
            </attribute>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>


  <!-- AuthorInfo -->


  <define name="authors">
    <element name="authors">
      <oneOrMore>
        <element name="author">
          <text/>
          <optional>
            <choice>
              <attribute name="type">
                <choice>
                  <value>words</value>
                  <value>music</value>
                </choice>
              </attribute>
              <!-- TODO require xml:lang only when <author type="translation"> -->
              <!-- when attrib 'type' value is 'translation' require attribute 'lang'.
                   'xml:lang' can't be used. xml:lang says in what language is the
                   content of an element and this is not the case. -->
              <group>
                <attribute name="type">
                  <value>translation</value>
                </attribute>
                <attribute name="lang">
                  <data type="language"/>
                </attribute>
              </group>
            </choice>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
 

  <define name="copyright">
    <element name="copyright">
      <text/>
    </element>
  </define>
 

  <define name="ccliNo">
    <element name="ccliNo">
      <data type="positiveInteger"/>
    </element>
  </define>
 

  <define name="releaseDate">
    <element name="releaseDate">
      <!-- allowed values
           1779
           1779-12
           1779-12-31
           1779-12-31T13:15:30+01:00 -->
      <choice>
        <data type="gYear"/>
        <data type="gYearMonth"/>
        <data type="date"/>
        <data type="dateTime"/>
      </choice>
    </element>
  </define>
 

  <!-- MusicInfo -->
 

  <define name="transposition">
    <element name="transposition">
      <data type="integer">
        <param name="minInclusive">-99</param>
        <param name="maxInclusive">99</param>
      </data>
    </element>
  </define>
 

  <define name="tempo">
    <element name="tempo">
      <choice>
        <!-- attrib 'type' value 'bpm' - beeps per minute required -->
        <group>
          <data type="positiveInteger">
            <param name="minInclusive">30</param>
            <param name="maxInclusive">250</param>
          </data>
          <attribute name="type">
            <value>bpm</value>
          </attribute>
        </group>
        <!-- attrib 'type' value 'text' - predefined element value is expected -->
        <group>
          <choice>
            <!-- TODO are those 5 values enough? -->
            <value>very fast</value>
            <value>fast</value>
            <value>moderate</value>
            <value>slow</value>
            <value>very slow</value>
          </choice>
          <attribute name="type">
            <value>text</value>
          </attribute>
        </group>
      </choice>
    </element>
  </define>
 

  <define name="key">
    <!-- TODO restrict to only allowed values -->
    <element name="key">
      <text/>
    </element>
  </define>
 
 
  <!-- Other Info --> 
 

  <define name="variant">
    <element name="variant">
      <text/>
    </element>
  </define>
 

  <define name="publisher">
    <element name="publisher">
      <text/>
    </element>
  </define>
 

  <define name="customVersion">
    <element name="customVersion">
      <text/>
    </element>
  </define>
 

  <define name="keywords">
    <element name="keywords">
      <text/>
    </element>
  </define>
 

  <define name="verseOrder">
    <element name="verseOrder">
      <list>
        <oneOrMore>
          <ref name="verseNameType"/>
        </oneOrMore>
      </list>
    </element>
  </define>
 

  <define name="collection">
    <element name="collection">
      <text/>
    </element>
  </define>
 

  <define name="trackNo">
    <element name="trackNo">
      <data type="positiveInteger"/>
    </element>
  </define>
 

  <!-- TODO Should be allowed only predefined themes ccli themes?
       http://www.ccli.com.au/owners/themes.cfm -->
  <define name="themes">
    <element name="themes">
      <oneOrMore>
        <element name="theme">
          <text/>
          <optional>
            <attribute name="id">
              <data type="positiveInteger"/>
            </attribute>
          </optional>
          <optional>
            <ref name="langAttribute"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
 

  <define name="comments">
    <element name="comments">
      <oneOrMore>
        <element name="comment">
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
 

  <define name="customData">
    <element name="customData">
      <oneOrMore>
        <element name="data">
          <text/>
          <attribute name="source">
            <data type="NMTOKEN"/>
          </attribute>
          <attribute name="key">
            <data type="NMTOKEN"/>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </define>
 
 
 <!-- LYRICS -->


  <define name="verse">
    <element name="verse">
      <ref name="verseAttributes"/>
      <optional>
        <ref name="langAttribute"/>
      </optional>
      <oneOrMore>
        <ref name="lines"/>
      </oneOrMore>
    </element>
  </define>
 
 
  <define name="lines">
    <element name="lines">
      <optional>
        <attribute name="part">
          <text/>
        </attribute>
      </optional>
      <oneOrMore>
        <optional>
          <element name="comment">
            <text/>
          </element>
        </optional>
        <element name="line">
          <!-- allow tag chord inside regular text - mixed content -->
          <oneOrMore>
            <optional>
              <ref name="chord"/>
            </optional>
            <text/>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
 
 
  <!-- TODO: define list of possible chord values -->
  <define name="chord">
    <element name="chord">
      <attribute name="name">
        <data type="NMTOKEN"/>
      </attribute>
    </element>
  </define>
 
 
  <define name="verseAttributes">
    <attribute name="name">
      <ref name="verseNameType"/>
    </attribute>
  </define>

 
  <define name="songAttributes">
    <!-- by default: value of type string is required in attr -->     
    <attribute name="version">
      <data type="NMTOKEN"> <!-- one word value -->
        <!-- allow only values like: '0.1' '11.2' '13.14.15' -->
        <param name="pattern">[0-9]+\.[0-9]+(\.[0-9]+)?</param>
      </data>
    </attribute>
    <attribute name="createdIn">
      <text/>
    </attribute>
    <attribute name="modifiedIn">
      <text/>
    </attribute>
    <attribute name="modifiedDate">
      <!-- date format: ISO 8601 -->
      <data type="dateTime"/>
    </attribute>
  </define>


  <!-- TODO Should be allowed custom values of verse name? -->
  <define name="verseNameType">
    <data type="NMTOKEN">
      <param name="minLength">1</param>
      <!-- verse - v1, v2, v1a, ...
           chorus c, c1, c2, c1a, ca, ...
           pre-chorus - p, p1, p2, p1a, pa, ...
           bridge - b, b1, b2, b1a, ba, ... -->
      <param name="pattern">(v[1-9]\d?[a-z]?)|([cpb][a-z]?)|([cpb][1-9]\d?[a-z]?)</param>
    </data>
  </define>


  <define name="langAttribute">
    <attribute name="xml:lang">
      <data type="language"/>
    </attribute>
  </define>

</grammar>
